.no-dizmo-drag {
    -apple-dashboard-region: dashboard-region(control rectangle);
}

#task-entry{
  margin-left: 2px;
  margin-right: 4px;
}

#actions {
  position: relative;
  top: 212px;
}

#clear-all{
  float: left;
  margin-left: 1px;
  clear: left;
}

#clear-completed{
  float: right;
  clear: right;
  margin-right: 4px;
}

.dizmo-checkbox{
  float: left;
  margin-left: -6px;
  clear: left;
}

.done {
  text-decoration: line-through;
}

label {
  line-height: 32px;
  overflow: hidden;
  clear: left;
  padding-left: 1px;
}

.tasklabel {
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  //display: inline-block;
}

#new-todo {
  width: 220px;
}

.edit {
  width: 110px !important;
}

.destroy {
  float: right !important;
  vertical-align: middle;
  margin-right: -14px;
}


#listdiv{
  margin-left: 2px;
}
.list {
  border-top: 1px solid rgba(114, 178, 222, 0.5);
  border-bottom: 1px solid rgba(114, 178, 222, 0.5);
  height: 200px;
  top: 40px;
  width: 228px;
  overflow: hidden;
  position: absolute;
}

.list ul {
  list-style-type: none;
  margin: 0px 10px 0px 0px;
  padding: 5px;
  position: relative;
}

.list li {
  height: 32px;
  border-bottom: 1px solid rgba(114, 178, 222, 0.5);
  padding: 0.2em 1em;
  margin: 0 -1em;
}

.iScrollVerticalScrollbar .iScrollLoneScrollbar {
  margin-top: -39px;
}

#front #todo-list input.edit {
  display: none; }
#front #todo-list .editing label {
  display: none; }
#front #todo-list .editing input.edit {
  display: inline; }
